{
  "openapi": "3.0.1",
  "info": {
    "title": "Lohnbits Api",
    "description": "Spezifikation der Lohnbits Api",
    "contact": {
      "name": "Lohnbits",
      "url": "https://lohnbits.de"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://secure4.steuerberatung-straelen.de",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/v1/loginOtp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login mit Benutzername, Passwort und TOTP",
        "description": "Mit dieser Methode meldet sich ein Benutzer mit Benutzernamen, Passwort und TOTP an.\r\nEs wird ein Bearer Token zurückgegeben, der für die weiteren Anfragen verwendet werden kann.\r\n\r\n__Wichtig__: Der Bearer Token ist grundsätzlich 30 min gültig, wenn er nicht verwendet wird. Die maximale Gültigkeit beträgt 24 h.",
        "operationId": "login-otp",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginOtpRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginOtpRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginOtpRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginOtpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginOtpResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginOtpResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginOtpResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/loginEncrypted": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login mit Benutzername und Passwort",
        "description": "Mit dieser Methode meldet sich ein Benutzer mit Benutzernamen und Passwort an.\r\nEs wird ein verschlüsselter Bearer Token zurückgegeben, der für die weiteren Anfragen verwendet werden kann.\r\n\r\n__Wichtig__: Der Bearer Token ist grundsätzlich 30 min gültig, wenn er nicht verwendet wird. Die maximale Gültigkeit beträgt 24 h.",
        "operationId": "login-encrypted",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginEncryptedRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginEncryptedRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LoginEncryptedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginEncryptedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginEncryptedResult"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginEncryptedResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/isAlive": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Zustandsprüfung des Tokens",
        "description": "Der Bearer Token hat nur eine begrenzte Lebensdauer. Sobald IsAlive aufgerufen wird, wird die Lebensdauer des Bearer Tokens verlängert. Gleichzeitig wird zurückgegeben, ob die Session noch aktiv ist.",
        "operationId": "is-alive",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/logout": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Abmeldung von der Lohnbits Api",
        "description": "Mit dieser Methode kann sich der Benutzer ausdrücklich vom Server abmelden. Auch wenn der Token automatisch abläuft, wird die explizite Abmeldung empfohlen sobald der Zugang nicht mehr benötigt wird, um den Token direkt ungeültig zu machen.",
        "operationId": "logout",
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/selectCustomers": {
      "get": {
        "tags": [
          "Stammdaten"
        ],
        "summary": "Gibt alle Mandanten zurück, auf die der Benutzer Zugriff hat",
        "description": "Diese Methode immer am Anfang aufrufen, um zu wissen, wie der Paramater `clientId` zu füllen ist",
        "operationId": "select-customers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectCustomersResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectCustomersResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectCustomersResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/selectDocumentTypes": {
      "post": {
        "tags": [
          "Stammdaten"
        ],
        "summary": "Gibt alle Dokumenttypen zurück",
        "description": "Mit dieser Methode kann der Benutzer eine Liste aller Dokumenttypen ermitteln.\n\nDie Zuordnung zum Mandanten erfolgt entweder über `clientId` oder die `clientNumber` - die anderen Felder werden ignoriert.\n\nDas Feld `specialFunction` ist ein optionales Feld. \n\nDie Kennung muss Zugriff auf die Personalakte haben.",
        "operationId": "select-document-types",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectDocumentTypesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectDocumentTypesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectDocumentTypesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectDocumentTypesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDocumentTypesResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDocumentTypesResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectDocumentTypesResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/selectEmployees": {
      "post": {
        "tags": [
          "Stammdaten"
        ],
        "summary": "Gibt alle Mitarbeiter zurück",
        "description": "Mit dieser Methode kann der Benutzer eine Liste aller Mitarbeiter ermitteln.\n\nDie Selektion erfolgt entweder über das Feld `clientId` oder über das Feld `clientNumber` oder über das Feld `clientGroupId`.\n\nWenn `onlyActiveEmployee` gesetzt ist, werden nur die Mitarbeiter mit dem Status Aktiv zurückgegeben.\n\r__Wichtig__: ein Mitarbeiter ist aktiv, wenn das Onboarding abgeschlossen ist und das Austrittsdatum weniger als zwei Monate vorbei ist.",
        "operationId": "select-employees",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeesRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeesRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeesRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeesResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeesResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeesResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/selectEmployeeWorkingHours": {
      "post": {
        "tags": [
          "Arbeitszeiten"
        ],
        "summary": "Liest die Arbeitszeiten für einen oder alle Mitarbeiter des Mandanten.",
        "description": "Wenn kein Mitarbeiter angegeben ist, werden die Arbeitszeiten aller Mitarbeiter zurückgegeben.",
        "operationId": "select-working-hours",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeWorkingHoursRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeWorkingHoursRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeWorkingHoursRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeWorkingHoursRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeWorkingHoursResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeWorkingHoursResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeWorkingHoursResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/insertDocumentPersonnelFile": {
      "post": {
        "tags": [
          "Dokumente"
        ],
        "summary": "Upload eines Dokuments in die Personalakte",
        "description": "Dieses Dokument wird in der Personalakte abgelegt.\n\nDer Mitarbeiter wird über das Feld MandantMitarbeiterLfdNr oder über die Konbination aus `clientNumber`  / `clientId` / `clientGroupId` und wahlweise `personnelNumber` / `companyPersonnelNumber` / `timeTrackingPpersonnelNumber` ausgewählt.\n\nDer Dokumenttyp ist anzugeben. Gültige Dokumenttypen können mit `selectDocumentTypes` abgefragt werden.\n\nDie Vorbelegung für das Dateiformat ist PDF.\n\n`note` ist KEIN Pflichtfeld.\n\nDer Zeitraum für die Monatsdatenerfassung ist wichtig - es ist der Abrechnungszeitraum, in dem das Dokument berücksichtigt werden soll.",
        "operationId": "insert-document-personnel-file",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InsertDocumentPersonnelFileRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertDocumentPersonnelFileRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertDocumentPersonnelFileRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InsertDocumentPersonnelFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertDocumentPersonnelFileResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertDocumentPersonnelFileResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertDocumentPersonnelFileResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/insertDocumentInbox": {
      "post": {
        "tags": [
          "Dokumente"
        ],
        "summary": "Upload eines Dokuments für den Posteingang",
        "description": "Dieses Dokument wird der Personalabteilung als Aufgabe angezeigt. Dabei ist der richtige Mitarbeiter schon zugeordnet.\n\nDer Mitarbeiter wird über das Feld MandantMitarbeiterLfdNr oder über die Konbination aus `clientNumber`  / `clientId` / `clientGroupId` und wahlweise `personnelNumber` / `companyPersonnelNumber` / `timeTrackingPpersonnelNumber` ausgewählt.\n\nDie Vorbelegung für das Dateiformat ist PDF.\n\n`note` ist __kein__ Pflichtfeld.\n\n`documentDate` ist ebenfalls __kein__ Pflcihtfeld.",
        "operationId": "insert-document-inbox",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InsertDocumentInboxRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertDocumentInboxRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InsertDocumentInboxRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InsertDocumentInboxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertDocumentInboxResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertDocumentInboxResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertDocumentInboxResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/selectReports": {
      "post": {
        "tags": [
          "Auswertungen"
        ],
        "summary": "Gibt alle Reports zurück",
        "description": "Mit dieser Methode kann der Benutzer eine Liste aller Reports ermitteln.\n\nDer Mitarbeiter wird über das Feld `employeeId` oder über die Konbination aus `clientNumber`  / `clientId` / `clientGroupId` und wahlweise `personnelNumber` / `companyPersonnelNumber` / `timeTrackingPpersonnelNumber` ausgewählt.\n\nDie Selektion erfolgt entweder über das Feld `clientId` oder über das Feld `clientNumber` oder über das Feld `clientGroupId`.",
        "operationId": "select-reports",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectReportsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectReportsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectReportsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectReportsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectReportsResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectReportsResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectReportsResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/executeReportEmployeeList": {
      "post": {
        "tags": [
          "Auswertungen"
        ],
        "summary": "Erstellt eine Mitarbeiterliste",
        "description": "Mit dieser Methode kann der Benutzer eine Mitarbeiterliste anfordern.\n\nDie Selektion erfolgt entweder über `clientId`, `clientNumber` oder `clientGroupId`.\n\nBei den meisten Listen wird der Datumsbereich (`reportPeriodBegin` und `reportPeriodEnd`) nicht benötigt.\n\nDie Antwort enthält nur die ausgewählten Felder des Reports und nicht alle möglichen Felder aus `DataLohnAuswertungFelderMitarbeiterliste`.\n\nEs können nur Reports mit dem `reportType` 'MitarbeiterlisteMaui' ausgeführt werden.",
        "operationId": "execute-report-employee-list",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteReportEmployeeListRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteReportEmployeeListRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteReportEmployeeListRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteReportEmployeeListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteReportEmployeeListResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteReportEmployeeListResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteReportEmployeeListResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteReportEmployeeListResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/executeReportWageTrendList": {
      "post": {
        "tags": [
          "Auswertungen"
        ],
        "summary": "Erstellt eine Liste zur Lohnentwicklung.",
        "description": "Mit dieser Methode kann der Benutzer eine Liste zur Lohnentwicklung anfordern.\n\nDie Selektion erfolgt entweder über `clientId`, `clientNumber` oder `clientGroupId`.\n\nDie Antwort enthält nur die ausgewählten Felder des Reports und nicht alle möglichen Felder aus `DataLohnAuswertungFelderMitarbeiterLohnentwicklung`.\n\nEs können nur Reports mit dem `reportType` 'Lohnentwicklung' ausgeführt werden.",
        "operationId": "execute-report-wage-trend",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteReportWageTrendRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteReportWageTrendRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteReportWageTrendRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteReportWageTrendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteReportWageTrendResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteReportWageTrendResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteReportWageTrendResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteReportWageTrendResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/openMonthlyData": {
      "post": {
        "tags": [
          "Monatsdaten"
        ],
        "summary": "Öffnet die Monatsdatenerfassung für weitere Operationen",
        "description": "Wenn die Daten innerhalb einer Vorerfassung mittels API verändert werden sollen, muss im ersten Schritt die Vorerfassung geöffent werden.\n\nDie Zuordnung zum Mandanten erfolgt entweder über `clientId` oder die `clientNumber` - die anderen Felder werden ignoriert.\n\nEs wird der Name der Vorerfassung (`preRecordingTitle`) und der Zeitraum (`period`) angegeben.\n\nAls Ergebnis wird eine UUID zurückgegeben, mit der auf die Daten zugegriffen werden kann.",
        "operationId": "open-monthly-data",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/OpenMonthlyDataRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenMonthlyDataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenMonthlyDataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OpenMonthlyDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenMonthlyDataResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenMonthlyDataResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenMonthlyDataResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/closeMonthlyData": {
      "put": {
        "tags": [
          "Monatsdaten"
        ],
        "summary": "Schliesst die Monatsdatenerfassung",
        "description": "Gibt den für die Monatsdatenerfassung reservierten Speichert wieder frei.",
        "operationId": "close-monthly-data",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CloseMonthlyDataRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseMonthlyDataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseMonthlyDataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CloseMonthlyDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseMonthlyDataResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseMonthlyDataResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseMonthlyDataResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/readMonthlyDataValue": {
      "post": {
        "tags": [
          "Monatsdaten"
        ],
        "summary": "Liest eine Variable aus der geöffneten Monatsdatenerfassung für einen Mitarbeiter",
        "description": "Die Monatsdatenerfassung muss vorher mit openMonthyData geöffnet worden sein.",
        "operationId": "read-monthly-data-value",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ReadMonthlyDataValueRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadMonthlyDataValueRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadMonthlyDataValueRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReadMonthlyDataValueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadMonthlyDataValueResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadMonthlyDataValueResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadMonthlyDataValueResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/writeMonthlyDataValue": {
      "post": {
        "tags": [
          "Monatsdaten"
        ],
        "summary": "Schreibt eine Variable aus der geöffneten Monatsdatenerfassung für einen Mitarbeiter",
        "description": "Die Monatsdatenerfassung muss vorher mit openMonthyData geöffnet worden sein.",
        "operationId": "write-monthly-data-value",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/WriteMonthlyDataValueRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteMonthlyDataValueRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteMonthlyDataValueRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/WriteMonthlyDataValueRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteMonthlyDataValueResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteMonthlyDataValueResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteMonthlyDataValueResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/selectEmployeeAbsence": {
      "post": {
        "tags": [
          "Abwesenheiten"
        ],
        "summary": "Liest die Abwesenheiten für einen oder alle Mitarbeiter des Mandanten.",
        "description": "Wenn kein Mitarbeiter angegeben ist, werden die Abwesenheiten aller Mitarbeiter zurückgegeben.",
        "operationId": "select-absences",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeAbsenceRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeAbsenceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeAbsenceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeAbsenceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeAbsenceResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeAbsenceResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeAbsenceResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/selectEmployeeAbsenceBalance": {
      "post": {
        "tags": [
          "Abwesenheiten"
        ],
        "summary": "Liest die Abwesenheitssalden für einen oder alle Mitarbeiter des Mandanten.",
        "description": "Wenn kein Mitarbeiter angegeben ist, werden die Abwesenheitssalden aller Mitarbeiter zurückgegeben.",
        "operationId": "select-absence-balance",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeAbsenceBalanceRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeAbsenceBalanceRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeAbsenceBalanceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SelectEmployeeAbsenceBalanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeAbsenceBalanceResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeAbsenceBalanceResult"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectEmployeeAbsenceBalanceResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/hello": {
      "get": {
        "tags": [
          "Info"
        ],
        "summary": "Verbindungsprüfung",
        "description": "Diese Methode kann genutzt werden, um zu überprüfen, ob der LOHNBITS Server erreichbar ist.",
        "operationId": "hello",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": { }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CloseMonthlyDataRequest": {
        "type": "object",
        "properties": {
          "lohnbitsSyncApiLogLfdNr": {
            "type": "integer",
            "description": "Identifikationsnummer des Aufrufprotokolls. Wird nur für interne Zwecke benötigt und darf nicht manuell vergeben werden.",
            "format": "int32"
          },
          "id": {
            "type": "string",
            "description": "Identifikationsnummer der Monatsdatenerfassung. Diese Monatsdatenerfassung soll geschlossen werden.",
            "format": "uuid"
          },
          "transactionId": {
            "type": "string",
            "description": "Identifikationsnummer der durchführenden Transaktion."
          }
        }
      },
      "CloseMonthlyDataResult": {
        "type": "object",
        "properties": {
          "errorCode": {
            "$ref": "#/components/schemas/eErrorCode"
          },
          "transactionId": {
            "type": "integer",
            "description": "Identifikationsnummer der durchgeführten Transaktion",
            "format": "int32"
          },
          "statusCode": {
            "type": "integer",
            "description": "Http Status Code abhängig vom Fehlercode",
            "format": "int32"
          },
          "errorDescription": {
            "type": "string",
            "description": "Beschreibung des aufgetretenen Fehlers",
            "nullable": true
          }
        }
      },
      "DataCustomer": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mandanten",
            "format": "int32"
          },
          "clientGroupId": {
            "type": "integer",
            "description": "Identifikationsnummer der Mandantengruppe.",
            "format": "int32"
          },
          "clientNumber": {
            "type": "integer",
            "description": "Mandantennummer",
            "format": "int32"
          },
          "companyName": {
            "type": "string",
            "description": "Bezeichnung des Betriebs"
          }
        }
      },
      "DataDocumentType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identifikationsnummer des Dokumenttpys",
            "format": "int32"
          },
          "documentTitle": {
            "type": "string",
            "description": "Bezeichnung des Dokumenttypes"
          },
          "isWriteAccess": {
            "type": "boolean",
            "description": "Darf dieser Dokumenttyp erstellt / verändert werden\n\n__Hinweis__: aufgrund der internen Struktur von Lohnbits gibt es Dokumenttypen, die selbst als Administrator nicht verändert werden dürfen"
          }
        }
      },
      "DataEmployee": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mandanten",
            "format": "int32"
          },
          "employeeId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mitarbeiters",
            "format": "int32"
          },
          "clientNumber": {
            "type": "integer",
            "description": "Mandantennummer",
            "format": "int32"
          },
          "firstName": {
            "type": "string",
            "description": "Vorname des Mitarbeiters."
          },
          "surName": {
            "type": "string",
            "description": "Familienname des Mitarbeiters."
          },
          "personnelNumber": {
            "type": "integer",
            "description": "Numerische Mitarbeiternummer in DATEV.",
            "format": "int32"
          },
          "companyName": {
            "type": "string",
            "description": "Bezeichnung des Betriebs"
          },
          "companyPersonnelNumber": {
            "type": "string",
            "description": "Alternative alphanumerische Mitarbeiternummer in DATEV."
          },
          "timeTrackingPersonnelNumber": {
            "type": "string",
            "description": "Identifikationsnummer des Mitarbeiters."
          },
          "fullName": {
            "type": "string",
            "description": "Konkatinierter Wert 'Familienname, Vorname (Personalnummer)'"
          },
          "fullNameVariant": {
            "type": "string",
            "description": "Konkatinierter Wert 'Familienname, Vorname'"
          },
          "entryDate": {
            "type": "string",
            "description": "Eintrittsdatum des Mitarbeiters",
            "format": "date-time"
          },
          "leavingDate": {
            "type": "string",
            "description": "Austrittsdatum des Mitarbeiters",
            "format": "date-time"
          },
          "employmentStatus": {
            "type": "string",
            "description": "Mitarbeiterstatus des Mitarbeiters. Folgende Werte sind möglich:\n* AktiverMitarbeiter\n* FiktiverMitarbeiterOhneLohnabrechnung\n* Ausgeschieden\n* RuhenderMitarbeiter\n* OnboardingGesperrt\n\nRuhenderMitarbeiter wird z.B. bei Elternzeit, Pensionierung, etc. verwendet. OnboardingGesperrt wird verwendet, wenn der Mitarbeiter noch im Onboarding ist und kann bis dahin nur den Personalfragebogen bearbeiten kann"
          }
        }
      },
      "DataEmployeeAbsence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identifikationsnummer der Abwesenheit für diesen Tag.\n_Achtung:_\nSollten am selben Tag für den selben Mitarbeiter unterschiedliche Abwesenheiten für den Vor- und Nachmittag existieren, haben beide Datensätze die gleiche `Id`.",
            "format": "int32"
          },
          "clientId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mandanten",
            "format": "int32"
          },
          "employeeId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mitarbeiters",
            "format": "int32"
          },
          "clientNumber": {
            "type": "integer",
            "description": "Mandantennummer",
            "format": "int32"
          },
          "personnelNumber": {
            "type": "integer",
            "description": "Numerische Mitarbeiternummer in DATEV.",
            "format": "int32"
          },
          "companyPersonnelNumber": {
            "type": "string",
            "description": "Alternative alphanumerische Mitarbeiternummer in DATEV."
          },
          "timeTrackingPersonnelNumber": {
            "type": "string",
            "description": "Identifikationsnummer des Mitarbeiters."
          },
          "date": {
            "type": "string",
            "description": "Abwesenheitsdatum",
            "format": "date-time"
          },
          "duration": {
            "type": "string",
            "description": "Abwesenheitsdauer für den Tag in 'date'. Folgende Werte sind möglich:\n* Ganztags\n* Vormittags\n* Nachmittags"
          },
          "approvalStatus": {
            "type": "string",
            "description": "Genehmigungsstatus der Abwesenheit. Folgende Werte sind möglich:\n* Unbekannt\n* TeilweiseGenehmigt\n* Genehmigt\n* Abgelehnt\n* WartetAufGenehmigung\n* BitteRuecksprache"
          },
          "certificateOfIncapacityForWorkStatus": {
            "type": "string",
            "description": "Status der Arbeitsunfähigkeitsbescheinigung. Folgende Werte sind möglich:\n* Unbekannt\n* EauDeaktivert\n* AuFehlt\n* EauAbgelehnt\n* ArbeitsunfaehigkeitUngueltig\n* AuNichtErforderlich\n* AuWartetAufBestaetigung\n* EauAngefragt\n* AuVorhanden\n* EauVorhanden"
          },
          "absenceKeyLohnbits": {
            "type": "string",
            "description": "Lohnbits Ausfallschlüssel der Abwesenheit"
          },
          "absenceKeyDatev": {
            "type": "string",
            "description": "DATEV (normierte) Ausfallschlüssel der Abwesenheit"
          },
          "absenceKeyTimeTracking": {
            "type": "string",
            "description": "Abweichender Ausfallschlüssel der Abwesenheit für die Zeiterfassung"
          },
          "dailyTargetWorkingHours": {
            "type": "number",
            "description": "Soll-Arbeitszeit des Mitarbeiters an diesem Tag in Stunden und Industrieminuten",
            "format": "double"
          },
          "hoursAbsent": {
            "type": "number",
            "description": "Ausgefallene Arbeitszeit des Mitarbeiters an diesem Tag in Stunden und Industrieminuten",
            "format": "double"
          },
          "daysAbsent": {
            "type": "number",
            "description": "Ausgefallene Arbeitszeit des Mitarbeiters in Arbeitstagen",
            "format": "double"
          },
          "modificationDate": {
            "type": "string",
            "description": "Datum und Zeit der letzten Änderung des Datensatzes in Lohnbits",
            "format": "date-time"
          },
          "holidayDays": {
            "type": "number",
            "description": "Dauer des Feiertages in Arbeitstagen (wichtig bei betrieblichen Feiertagen)?",
            "format": "double"
          },
          "holidayHours": {
            "type": "number",
            "description": "Dauer des Feiertages in Stunden (wichtig bei betrieblichen Feiertagen)?",
            "format": "double"
          },
          "holidayType": {
            "type": "string",
            "description": "Art des Feiertags, z.B. 'gesetzlicher Feiertag', 'betrieblicher Feiertag'"
          },
          "holidayName": {
            "type": "string",
            "description": "Die Bezeichnung des Feiertages"
          }
        }
      },
      "DataEmployeeAbsenceBalance": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mandanten",
            "format": "int32"
          },
          "employeeId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mitarbeiters",
            "format": "int32"
          },
          "clientNumber": {
            "type": "integer",
            "description": "Mandantennummer",
            "format": "int32"
          },
          "personnelNumber": {
            "type": "integer",
            "description": "Numerische Mitarbeiternummer in DATEV.",
            "format": "int32"
          },
          "companyPersonnelNumber": {
            "type": "string",
            "description": "Alternative alphanumerische Mitarbeiternummer in DATEV."
          },
          "timeTrackingPersonnelNumber": {
            "type": "string",
            "description": "Identifikationsnummer des Mitarbeiters."
          },
          "sickDays": {
            "type": "number",
            "description": "Anzahl der Krankheitstage.",
            "format": "double"
          },
          "sickDaysWithoutCertificate": {
            "type": "number",
            "description": "Anzahl der Krankheitstage ohne Bescheinigung.",
            "format": "double"
          },
          "sickDaysChildTotal": {
            "type": "number",
            "description": "Anzahl der Krankheitstage, wenn das Kind krank ist.",
            "format": "double"
          },
          "educationalLeaveDays": {
            "type": "number",
            "description": "Anzahl der Tage für Bildungsurlaub.",
            "format": "double"
          },
          "educationalLeaveHours": {
            "type": "number",
            "description": "Anzahl der Stunden für Bildungsurlaub.",
            "format": "double"
          },
          "homeOfficeDays": {
            "type": "number",
            "description": "Anzahl der Tage im Homeoffice.",
            "format": "double"
          },
          "homeOfficeHours": {
            "type": "number",
            "description": "Anzahl der Stunden im Homeoffice.",
            "format": "double"
          },
          "specialLeaveTakenDays": {
            "type": "number",
            "description": "Anzahl der genommenen Sonderurlaubstage.",
            "format": "double"
          },
          "leaveEntitlementYearDays": {
            "type": "number",
            "description": "Urlaubsanspruch des Jahres in Tagen.",
            "format": "double"
          },
          "leaveEntitlementPreviousYearDays": {
            "type": "number",
            "description": "Urlaubsanspruch des Vorjahres in Tagen.",
            "format": "double"
          },
          "leaveTakenDays": {
            "type": "number",
            "description": "Anzahl der genommenen Urlaubstage.",
            "format": "double"
          },
          "leavePlannedDays": {
            "type": "number",
            "description": "Anzahl der geplanten Urlaubstage.",
            "format": "double"
          },
          "leaveRequestedDays": {
            "type": "number",
            "description": "Anzahl der beantragten Urlaubstage.",
            "format": "double"
          },
          "leaveProvisionalDays": {
            "type": "number",
            "description": "Anzahl der vorläufigen Urlaubstage.",
            "format": "double"
          },
          "leaveProvisionalHours": {
            "type": "number",
            "description": "Anzahl der vorläufigen Urlaubsstunden.",
            "format": "double"
          },
          "leaveExpiredDays": {
            "type": "number",
            "description": "Anzahl der verfallenen Urlaubstage.",
            "format": "double"
          },
          "leaveNextYearDays": {
            "type": "number",
            "description": "Urlaub für das Folgejahr in Tagen.",
            "format": "double"
          },
          "leaveBalanceDays": {
            "type": "number",
            "description": "Urlaubssaldo in Tagen.",
            "format": "double"
          },
          "specialLeaveTakenHours": {
            "type": "number",
            "description": "Anzahl der genommenen Sonderurlaubsstunden.",
            "format": "double"
          },
          "leaveEntitlementYearHours": {
            "type": "number",
            "description": "Urlaubsanspruch des Jahres in Stunden.",
            "format": "double"
          },
          "leaveEntitlementPreviousYearHours": {
            "type": "number",
            "description": "Urlaubsanspruch des Vorjahres in Stunden.",
            "format": "double"
          },
          "leaveTakenHours": {
            "type": "number",
            "description": "Anzahl der genommenen Urlaubsstunden.",
            "format": "double"
          },
          "leavePlannedHours": {
            "type": "number",
            "description": "Anzahl der geplanten Urlaubsstunden.",
            "format": "double"
          },
          "leaveRequestedHours": {
            "type": "number",
            "description": "Anzahl der beantragten Urlaubsstunden.",
            "format": "double"
          },
          "leaveExpiredHours": {
            "type": "number",
            "description": "Anzahl der verfallenen Urlaubsstunden.",
            "format": "double"
          },
          "leaveNextYearHours": {
            "type": "number",
            "description": "Urlaub für das Folgejahr in Stunden.",
            "format": "double"
          },
          "leaveBalanceHours": {
            "type": "number",
            "description": "Urlaubssaldo in Stunden.",
            "format": "double"
          },
          "balanceQuota01": {
            "type": "number",
            "description": "Saldo des Kontingents 01.",
            "format": "double"
          },
          "balanceQuota02": {
            "type": "number",
            "description": "Saldo des Kontingents 02.",
            "format": "double"
          },
          "balanceQuota03": {
            "type": "number",
            "description": "Saldo des Kontingents 03.",
            "format": "double"
          },
          "balanceQuota04": {
            "type": "number",
            "description": "Saldo des Kontingents 04.",
            "format": "double"
          },
          "balanceQuota05": {
            "type": "number",
            "description": "Saldo des Kontingents 05.",
            "format": "double"
          },
          "absenceDaysRTWToday": {
            "type": "number",
            "description": "Anzahl der Abwesenheitstage heute im Rahmen des Betrieblichen Eingliederungsmanagements (RTW: Return to Work).",
            "format": "double"
          },
          "baseLeaveDays": {
            "type": "number",
            "description": "Anzahl der Grundurlaubstage.",
            "format": "double"
          },
          "additionalLeaveDays": {
            "type": "number",
            "description": "Anzahl der Zusatzurlaubstage.",
            "format": "double"
          },
          "disabledLeaveDays": {
            "type": "number",
            "description": "Anzahl der Schwerbehindertenurlaubstage.",
            "format": "double"
          },
          "baseLeaveHours": {
            "type": "number",
            "description": "Anzahl der Grundurlaubsstunden.",
            "format": "double"
          },
          "additionalLeaveHours": {
            "type": "number",
            "description": "Anzahl der Zusatzurlaubsstunden.",
            "format": "double"
          },
          "disabledLeaveHours": {
            "type": "number",
            "description": "Anzahl der Schwerbehindertenurlaubsstunden.",
            "format": "double"
          },
          "quotaDescription01": {
            "type": "string",
            "description": "Bezeichnung des Kontingents 01."
          },
          "quotaDescription02": {
            "type": "string",
            "description": "Bezeichnung des Kontingents 02."
          },
          "quotaDescription03": {
            "type": "string",
            "description": "Bezeichnung des Kontingents 03."
          },
          "quotaDescription04": {
            "type": "string",
            "description": "Bezeichnung des Kontingents 04."
          },
          "quotaDescription05": {
            "type": "string",
            "description": "Bezeichnung des Kontingents 05."
          }
        }
      },
      "DataEmployeeWorkingHours": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Identifikationsnummer der Datensatzes",
            "format": "int32"
          },
          "clientId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mandanten. Für weitere Informationen siehe `clientNumber`",
            "format": "int32"
          },
          "employeeId": {
            "type": "integer",
            "description": "Identifikationsnummer des Mitarbeiters. Die Nummer wird von Lohnbits vergeben.",
            "format": "int32"
          },
          "clientNumber": {
            "type": "integer",
            "description": "Entweder wird `clientNumber` oder `clientId` angegeben, um einen Mitarbeiter einem Mandanten zuzuordnen.Soweit die Werte eindeutig sind, ist es auch möglich, `clientGroupId` und eine eindeutige Mitarbeiternummer (`personnelNumber`, `companyPersonnelNumber` oder `timeTrackingPersonnelNumber`) anzugeben",
            "format": "int32"
          },
          "personnelNumber": {
            "type": "integer",
            "description": "Numerische Mitarbeiternummer in DATEV. Diese Nummer muss eindeutig sein.",
            "format": "int32"
          },
          "companyPersonnelNumber": {
            "type": "string",
            "description": "Alternative alphanumerische Mitarbeiternummer in DATEV. Nur verwenden wenn das Feld ohnehin verwendet wird."
          },
          "timeTrackingPersonnelNumber": {
            "type": "string",
            "description": "Sollten die Mitarbeiternummern in der Zeiterfassung von den Mitarbeiternummern in DATEV abweichen, soll dieses Feld genutzt werden."
          },
          "validFrom": {
            "type": "string",
            "description": "Datum ab wann die Arbeitszeiten gelten. Es wird der Monatsanfang abgegeben.",
            "format": "date-time"
          },
          "workingHoursMonday": {
            "type": "number",
            "description": "Die Arbeitszeit an Montagen in Stunden und Industrieminuten.",
            "format": "double"
          },
          "workingHoursTuesday": {
            "type": "number",
            "description": "Die Arbeitszeit an Dienstagen in Stunden und Industrieminuten.",
            "format": "double"
          },
          "workingHoursWednesday": {
            "type": "number",
            "description": "Die Arbeitszeit an Mittwochen in Stunden und Industrieminuten.",
            "format": "double"
          },
          "workingHoursThursday": {
            "type": "number",
            "description": "Die Arbeitszeit an Donnerstagen in Stunden und Industrieminuten.",
            "format": "double"
          },
          "workingHoursFriday": {
            "type": "number",
            "description": "Die Arbeitszeit and Freitagen in Stunden und Industrieminuten.",
            "format": "double"
          },
          "workingHoursSaturday": {
            "type": "number",
            "description": "Die Arbeitszeit and Samstagen in Stunden und Industrieminuten.",
            "format": "double"
          },
          "workingHoursSunday": {
            "type": "number",
            "description": "Die Arbeitszeit and Sonntagen in Stunden und Industrieminuten.",
            "format": "double"
          },
          "workingHoursFullTime": {
            "type": "number",
            "description": "Die Arbeitszeit eines Vollzeitmitarbeiters in Stunden und Industrieminuten.",
            "format": "double"
          },
          "workingHoursWeek": {
            "type": "number",
            "description": "Die wöchentliche Arbeitszeit in Stunden und Industrieminuten.",
            "format": "double"
          },
          "reasonForChangeInWorkingHours": {
            "type": "string",
            "description": "Die Begründung für den Arbeitzeitwechsel - hierbei handelt es sich um von der ITSG fest vorgegebene Werte"
          },
          "editingInstructions": {
            "type": "string",
            "description": "Der Bearbeitungshinweis."
          }
        }
      },
      "DataLohnAuswertungFelderMitarbeiterliste": {
        "type": "object",
        "properties": {
          "geburtstagAktjahrDatum": {
            "type": "string",
            "format": "date-time"
          },
          "geburtstagAktjahrJahre": {
            "type": "integer",
            "format": "int32"
          },
          "lohnMonatsdatenVorerfassungMitarbeiterNeuanlageTemplateBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "lohnMonatsdatenVorerfassungMitarbeiterNeuanlageTemplateLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "mitarbeiterjubilaeumAktjahrDatum": {
            "type": "string",
            "format": "date-time"
          },
          "mitarbeiterjubilaeumAktjahrJahre": {
            "type": "integer",
            "format": "int32"
          },
          "msAnstellungsartAbweichend": {
            "$ref": "#/components/schemas/eAnstellungsartMitarbeiter"
          },
          "msAusweisArt": {
            "$ref": "#/components/schemas/eAusweisArt"
          },
          "msAusweisNummer": {
            "type": "string",
            "nullable": true
          },
          "msBeschaeftigungsstatusMitarbeiterAbweichend": {
            "$ref": "#/components/schemas/eBeschaeftigungsstatusMitarbeiter"
          },
          "msIsAenderungenGesellschafterbeschluss": {
            "type": "boolean"
          },
          "msIsKeineFehlzeitenverwaltung": {
            "type": "boolean"
          },
          "msGfosOrganisationseinheitAbweichend": {
            "type": "string",
            "nullable": true
          },
          "msIsKeineZeiterfassung": {
            "type": "boolean"
          },
          "msMitarbeiterfoto": {
            "type": "string",
            "format": "byte",
            "nullable": true
          },
          "msMitarbeiternummerZeiterfassungAbweichend": {
            "type": "string",
            "nullable": true
          },
          "vmsArbeitnehmertyp": {
            "type": "integer",
            "format": "int32"
          },
          "vmsArbeitnehmertypBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsArbeitszeitkontoStammNummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsBankverbindungBic": {
            "type": "string",
            "nullable": true
          },
          "vmsBankverbindungIban": {
            "type": "string",
            "nullable": true
          },
          "vmsBankverbindungInhaber": {
            "type": "string",
            "nullable": true
          },
          "vmsBeginnStudienbescheinigung": {
            "type": "string",
            "format": "date-time"
          },
          "vmsBundeslandnummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsBundeslandnummerBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsFinanzamtnummer": {
            "type": "string",
            "nullable": true
          },
          "vmsIdentifikationsnummer": {
            "type": "string",
            "nullable": true
          },
          "vmsIsAktiv": {
            "type": "boolean"
          },
          "vmsIsGeringfuegigEntlohntPauschalversteuerung": {
            "type": "boolean"
          },
          "vmsIsHauptbeschaeftigung": {
            "type": "boolean"
          },
          "vmsKinderfreibetrag": {
            "type": "number",
            "format": "double"
          },
          "vmsKonfessionNummerMitarbeiter": {
            "type": "integer",
            "format": "int32"
          },
          "vmsKonfessionNummerMitarbeiterBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsLohnMonatsdatenVorerfassungMitarbeiterStammdatenLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "vmsStandardentlohnungBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsStandardentlohnungNummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsSteuerklasse": {
            "type": "integer",
            "format": "int32"
          },
          "vmsSteuerklasseFaktor": {
            "type": "number",
            "format": "double"
          },
          "vmsUrlaubsanspruchTageVollesJahr": {
            "type": "number",
            "format": "double"
          },
          "vmsWeiteresArbeitsverhaeltnis": {
            "$ref": "#/components/schemas/eWeiteresArbeitsverhaeltnis"
          },
          "vmsWeiteresArbeitsverhaeltnisBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsZahlungsart": {
            "$ref": "#/components/schemas/eZahlungsart"
          },
          "vmsEntgeltgruppe": {
            "type": "string",
            "nullable": true
          },
          "msAustrittsgrund": {
            "$ref": "#/components/schemas/eAustrittsgrund"
          },
          "msEintrittAbweichend": {
            "type": "string",
            "format": "date-time"
          },
          "msEintrittAbweichendUrlaub": {
            "type": "string",
            "format": "date-time"
          },
          "msEndeProbezeit": {
            "type": "string",
            "format": "date-time"
          },
          "msVollzeitaequivalent": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitDienstag": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitDonnerstag": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitFreitag": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitMittwoch": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitMontag": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitSamstag": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitSonntag": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitVollzeit": {
            "type": "number",
            "format": "double"
          },
          "vmsArbeitszeitWoche": {
            "type": "number",
            "format": "double"
          },
          "vmsAustritt": {
            "type": "string",
            "format": "date-time"
          },
          "vmsBefristung": {
            "type": "integer",
            "format": "int32"
          },
          "vmsBeginnAusbildung": {
            "type": "string",
            "format": "date-time"
          },
          "vmsBerufsbezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsBetriebsstaetteLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "vmsBetriebsstaetteBetriebsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsBetriebsstaetteBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsDatumArbeitserlaubnisBis": {
            "type": "string",
            "format": "date-time"
          },
          "vmsDatumAufenthaltserlaubnisBis": {
            "type": "string",
            "format": "date-time"
          },
          "vmsEintritt": {
            "type": "string",
            "format": "date-time"
          },
          "vmsEndeAusbildung": {
            "type": "string",
            "format": "date-time"
          },
          "vmsEndeStudienbescheinigung": {
            "type": "string",
            "format": "date-time"
          },
          "vmsErsteintrittsdatum": {
            "type": "string",
            "format": "date-time"
          },
          "vmsVoraussichtlichesEndeAusbildung": {
            "type": "string",
            "format": "date-time"
          },
          "vmsHauptbetriebBetriebsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsHauptbetriebLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "calcAlter": {
            "type": "number",
            "format": "double"
          },
          "calcFluktuationEintritt": {
            "type": "number",
            "format": "double"
          },
          "calcFluktuationAustritt": {
            "type": "number",
            "format": "double"
          },
          "calcFluktuationBeschaeftigung": {
            "type": "number",
            "format": "double"
          },
          "calcAnstellungsartMitarbeiter": {
            "$ref": "#/components/schemas/eAnstellungsartMitarbeiter"
          },
          "calcBeschaeftigungsstatusMitarbeiter": {
            "$ref": "#/components/schemas/eBeschaeftigungsstatusMitarbeiter"
          },
          "calcBetriebszugehoerigkeit": {
            "type": "number",
            "format": "double"
          },
          "calcEintritt": {
            "type": "string",
            "format": "date-time"
          },
          "calcFte": {
            "type": "number",
            "format": "double"
          },
          "calcFteAktiv": {
            "type": "number",
            "format": "double"
          },
          "calcIsKinderVorhanden": {
            "type": "boolean"
          },
          "calcAnzahlKinder": {
            "type": "integer",
            "format": "int32"
          },
          "calcAnzahlKinderUnter12": {
            "type": "integer",
            "format": "int32"
          },
          "calcAnzahlKinderUnter18": {
            "type": "integer",
            "format": "int32"
          },
          "calcAnzahlKinderUnter25": {
            "type": "integer",
            "format": "int32"
          },
          "calcAnzahlAnhangHgbQuartal1": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAnhangHgbQuartal2": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAnhangHgbQuartal3": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAnhangHgbQuartal4": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAnhangHgbQuartal1Alle": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAnhangHgbQuartal2Alle": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAnhangHgbQuartal3Alle": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAnhangHgbQuartal4Alle": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAlterIntervallJahr1": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAlterIntervallJahr2": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAlterIntervallJahr3": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAlterIntervallJahr4": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAlterIntervallJahr5": {
            "type": "number",
            "format": "double"
          },
          "calcAnzahlAlterIntervallJahr6": {
            "type": "number",
            "format": "double"
          },
          "msFamilieGeschiedenSeit": {
            "type": "string",
            "format": "date-time"
          },
          "msFamiliePartnerGeburtstag": {
            "type": "string",
            "format": "date-time"
          },
          "msFamiliePartnerGeschlechtLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "msFamiliePartnerGeschlechtLfdNrBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "msFamiliePartnerName": {
            "type": "string",
            "nullable": true
          },
          "msFamiliePartnerVorname": {
            "type": "string",
            "nullable": true
          },
          "msFamilieVerheiratetSeit": {
            "type": "string",
            "format": "date-time"
          },
          "msIsAlleinerziehend": {
            "type": "boolean"
          },
          "vmsFamilienstandNummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsFamilienstandNummerBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsKonfessionNummerEhegatte": {
            "type": "integer",
            "format": "int32"
          },
          "vmsKonfessionNummerEhegatteBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "auswertungsintervallListen": {
            "$ref": "#/components/schemas/eAuswertungsintervallListen"
          },
          "auswertungZeilenart": {
            "$ref": "#/components/schemas/eAuswertungZeilenart"
          },
          "children": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "fkInternetMandantMitarbeiterLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "fkInternetMandantMitarbeiterStammLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "fkMandantLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "gruppierung01Hash": {
            "type": "string",
            "nullable": true
          },
          "gruppierung02Hash": {
            "type": "string",
            "nullable": true
          },
          "sortierungHash": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "isMitarbeiterBeschaeftigt": {
            "type": "boolean"
          },
          "leeresFeld": {
            "type": "string",
            "nullable": true
          },
          "isZeileAnzeigen": {
            "type": "boolean"
          },
          "mandantenname": {
            "type": "string",
            "nullable": true
          },
          "mandantennummer": {
            "type": "integer",
            "format": "int32"
          },
          "personioId": {
            "type": "integer",
            "format": "int32"
          },
          "stichtagDaten": {
            "type": "string",
            "format": "date-time"
          },
          "dictAnzahl": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "dictProzent": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            },
            "nullable": true
          },
          "dictSumme": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            },
            "nullable": true
          },
          "dictDurchschnitt": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "double"
            },
            "nullable": true
          },
          "msGemeindeGewSt": {
            "type": "string",
            "nullable": true
          },
          "msGruppe01": {
            "type": "string",
            "nullable": true
          },
          "msGruppe02": {
            "type": "string",
            "nullable": true
          },
          "msGruppe03": {
            "type": "string",
            "nullable": true
          },
          "msGruppe04": {
            "type": "string",
            "nullable": true
          },
          "msGruppe05": {
            "type": "string",
            "nullable": true
          },
          "msGruppe06": {
            "type": "string",
            "nullable": true
          },
          "msGruppe07": {
            "type": "string",
            "nullable": true
          },
          "msGruppe08": {
            "type": "string",
            "nullable": true
          },
          "msGruppe09": {
            "type": "string",
            "nullable": true
          },
          "msGruppe10": {
            "type": "string",
            "nullable": true
          },
          "msMitarbeitergruppeJahresabschlussAnhang": {
            "$ref": "#/components/schemas/eMitarbeitergruppeHgb"
          },
          "vmsAbteilungBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsAbteilungsnummer": {
            "type": "string",
            "nullable": true
          },
          "vmsFibugruppeBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsGruppennummerFibu": {
            "type": "integer",
            "format": "int32"
          },
          "vmsKostenstelleBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsKostenstelleNummer": {
            "type": "string",
            "nullable": true
          },
          "vmsKostentraegerBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsKostentraegerNummer": {
            "type": "string",
            "nullable": true
          },
          "vmsLeistungsgruppeStatistischeAemter": {
            "type": "integer",
            "format": "int32"
          },
          "vmsMitarbeitergruppeBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsMitarbeitergruppennnummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsOrganisationseinheitNummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsKostenstellenverteilungsbezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsKostenstellenverteilungsdetails": {
            "type": "string",
            "nullable": true
          },
          "msHeadcount": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount01": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount02": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount03": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount04": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount05": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount06": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount07": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount08": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount09": {
            "type": "number",
            "format": "double"
          },
          "msHeadcount10": {
            "type": "number",
            "format": "double"
          },
          "msWertBool01": {
            "type": "boolean"
          },
          "msWertBool02": {
            "type": "boolean"
          },
          "msWertBool03": {
            "type": "boolean"
          },
          "msWertBool04": {
            "type": "boolean"
          },
          "msWertBool05": {
            "type": "boolean"
          },
          "msWertBool06": {
            "type": "boolean"
          },
          "msWertBool07": {
            "type": "boolean"
          },
          "msWertBool08": {
            "type": "boolean"
          },
          "msWertBool09": {
            "type": "boolean"
          },
          "msWertBool10": {
            "type": "boolean"
          },
          "msWertDateTime01": {
            "type": "string",
            "format": "date-time"
          },
          "msWertDateTime02": {
            "type": "string",
            "format": "date-time"
          },
          "msWertDateTime03": {
            "type": "string",
            "format": "date-time"
          },
          "msWertDateTime04": {
            "type": "string",
            "format": "date-time"
          },
          "msWertDateTime05": {
            "type": "string",
            "format": "date-time"
          },
          "msWertDecimal01": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal02": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal03": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal04": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal05": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal06": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal07": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal08": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal09": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal10": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal11": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal12": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal13": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal14": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal15": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal16": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal17": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal18": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal19": {
            "type": "number",
            "format": "double"
          },
          "msWertDecimal20": {
            "type": "number",
            "format": "double"
          },
          "msWertString01": {
            "type": "string",
            "nullable": true
          },
          "msWertString02": {
            "type": "string",
            "nullable": true
          },
          "msWertString03": {
            "type": "string",
            "nullable": true
          },
          "msWertString04": {
            "type": "string",
            "nullable": true
          },
          "msWertString05": {
            "type": "string",
            "nullable": true
          },
          "msWertString06": {
            "type": "string",
            "nullable": true
          },
          "msWertString07": {
            "type": "string",
            "nullable": true
          },
          "msWertString08": {
            "type": "string",
            "nullable": true
          },
          "msWertString09": {
            "type": "string",
            "nullable": true
          },
          "msWertString10": {
            "type": "string",
            "nullable": true
          },
          "msWertString11": {
            "type": "string",
            "nullable": true
          },
          "msWertString12": {
            "type": "string",
            "nullable": true
          },
          "msWertString13": {
            "type": "string",
            "nullable": true
          },
          "msWertString14": {
            "type": "string",
            "nullable": true
          },
          "msWertString15": {
            "type": "string",
            "nullable": true
          },
          "msWertString16": {
            "type": "string",
            "nullable": true
          },
          "msWertString17": {
            "type": "string",
            "nullable": true
          },
          "msWertString18": {
            "type": "string",
            "nullable": true
          },
          "msWertString19": {
            "type": "string",
            "nullable": true
          },
          "msWertString20": {
            "type": "string",
            "nullable": true
          },
          "msDokumentWertString01": {
            "type": "string",
            "nullable": true
          },
          "msDokumentWertString02": {
            "type": "string",
            "nullable": true
          },
          "msDokumentWertString03": {
            "type": "string",
            "nullable": true
          },
          "msDokumentWertString04": {
            "type": "string",
            "nullable": true
          },
          "msDokumentWertString05": {
            "type": "string",
            "nullable": true
          },
          "msDokumentWertDecimal01": {
            "type": "number",
            "format": "double"
          },
          "msDokumentWertDecimal02": {
            "type": "number",
            "format": "double"
          },
          "msDokumentWertDecimal03": {
            "type": "number",
            "format": "double"
          },
          "msDokumentWertDecimal04": {
            "type": "number",
            "format": "double"
          },
          "msDokumentWertDecimal05": {
            "type": "number",
            "format": "double"
          },
          "msDokumentWertBool01": {
            "type": "boolean"
          },
          "msDokumentWertBool02": {
            "type": "boolean"
          },
          "msDokumentWertBool03": {
            "type": "boolean"
          },
          "msDokumentWertBool04": {
            "type": "boolean"
          },
          "msDokumentWertBool05": {
            "type": "boolean"
          },
          "msDokumentWertBool06": {
            "type": "boolean"
          },
          "msDokumentWertBool07": {
            "type": "boolean"
          },
          "msDokumentWertBool08": {
            "type": "boolean"
          },
          "msDokumentWertBool09": {
            "type": "boolean"
          },
          "msDokumentWertBool10": {
            "type": "boolean"
          },
          "msDurchwahlBetrieb": {
            "type": "string",
            "nullable": true
          },
          "msEmailAdresse": {
            "type": "string",
            "nullable": true
          },
          "msEmailAdressePrivat": {
            "type": "string",
            "nullable": true
          },
          "msHandynummer": {
            "type": "string",
            "nullable": true
          },
          "msHandynummerPrivat": {
            "type": "string",
            "nullable": true
          },
          "msNotfallkontakt1Bemerkung": {
            "type": "string",
            "nullable": true
          },
          "msNotfallkontakt1Erreichbarkeit1": {
            "type": "string",
            "nullable": true
          },
          "msNotfallkontakt1Erreichbarkeit2": {
            "type": "string",
            "nullable": true
          },
          "msNotfallkontakt1Name": {
            "type": "string",
            "nullable": true
          },
          "msNotfallkontakt2Bemerkung": {
            "type": "string",
            "nullable": true
          },
          "msNotfallkontakt2Erreichbarkeit1": {
            "type": "string",
            "nullable": true
          },
          "msNotfallkontakt2Erreichbarkeit2": {
            "type": "string",
            "nullable": true
          },
          "msNotfallkontakt2Name": {
            "type": "string",
            "nullable": true
          },
          "msTelefonPrivat": {
            "type": "string",
            "nullable": true
          },
          "msWhatsappNummer": {
            "type": "string",
            "nullable": true
          },
          "msGfosPersonalnummerKopiervorlage": {
            "type": "string",
            "nullable": true
          },
          "msBetriebsnummerKrankenkasseA1Abweichend": {
            "type": "integer",
            "format": "int32"
          },
          "msBetriebsnummerKrankenkasseA1AbweichendBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "msIsKeinKrankengeldInDenErstenVierWochen": {
            "type": "boolean"
          },
          "msIsKeineAbrechnungsdatenAusZeiterfassungUebernehmen": {
            "type": "boolean"
          },
          "msIsKeineSynchronisationFehlzeitenMitZeiterfassung": {
            "type": "boolean"
          },
          "vmsArbeitnehmerueberlassung": {
            "type": "integer",
            "format": "int32"
          },
          "vmsArbeitnehmerueberlassungBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsAusgeuebteTaetigkeitLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "vmsAusgeuebteTaetigkeitLfdNrBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsBeitragsgruppenschluesselAv": {
            "type": "string",
            "nullable": true
          },
          "vmsBeitragsgruppenschluesselKv": {
            "type": "string",
            "nullable": true
          },
          "vmsBeitragsgruppenschluesselPv": {
            "type": "string",
            "nullable": true
          },
          "vmsBeitragsgruppenschluesselRv": {
            "type": "string",
            "nullable": true
          },
          "vmsBerufsgenossenschaftGefahrenTarifstelle1": {
            "type": "string",
            "nullable": true
          },
          "vmsBerufsgenossenschaftGefahrenTarifstelle1Prozent": {
            "type": "number",
            "format": "double"
          },
          "vmsBerufsgenossenschaftGefahrenTarifstelle2": {
            "type": "string",
            "nullable": true
          },
          "vmsBerufsgenossenschaftGefahrenTarifstelle2Prozent": {
            "type": "number",
            "format": "double"
          },
          "vmsBerufsgenossenschaftStrukturschluessel1": {
            "type": "string",
            "nullable": true
          },
          "vmsBerufsgenossenschaftStrukturschluessel2": {
            "type": "string",
            "nullable": true
          },
          "vmsDatumA1BescheinigungBis": {
            "type": "string",
            "format": "date-time"
          },
          "vmsHoechsteBerufsausbildung": {
            "type": "integer",
            "format": "int32"
          },
          "vmsHoechsteBerufsausbildungBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsIsKeinZusatzbeitragPflegeversicherung": {
            "type": "boolean"
          },
          "vmsIsPrivatversichert": {
            "type": "boolean"
          },
          "vmsIsSchwerbehindert": {
            "type": "boolean"
          },
          "vmsIsUnstaendigeBeschaeftigung": {
            "type": "boolean"
          },
          "vmsIsZusatzbeitragPflegeversicherung": {
            "type": "boolean"
          },
          "vmsKrankenkasseBeitragskontonummer": {
            "type": "string",
            "nullable": true
          },
          "vmsKrankenkasseBetriebsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsKrankenkasseBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsKrankenkasseGeschaeftsstelle": {
            "type": "integer",
            "format": "int32"
          },
          "vmsKrankenkasseHauptversicherungBetriebsnummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsKrankenkasseHauptversicherungBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsPersonengruppenschluessel": {
            "type": "integer",
            "format": "int32"
          },
          "vmsPersonengruppenschluesselBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsSchulabschluss": {
            "type": "integer",
            "format": "int32"
          },
          "vmsSchulabschlussBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsSozialversicherungsnummer": {
            "type": "string",
            "nullable": true
          },
          "vmsTaetigkeitsschluesselNummerBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsVersorgungswerkMitgliedsnummer": {
            "type": "string",
            "nullable": true
          },
          "vmsVersorgungswerkNummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsVertragsform": {
            "type": "integer",
            "format": "int32"
          },
          "vmsVertragsformBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "calcPlzOrt": {
            "type": "string",
            "nullable": true
          },
          "calcStrasseHausnummer": {
            "type": "string",
            "nullable": true
          },
          "msMitarbeiterKuerzel": {
            "type": "string",
            "nullable": true
          },
          "msSprache": {
            "$ref": "#/components/schemas/eSprache"
          },
          "msSpracheBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "msStatusDerAushilfe": {
            "$ref": "#/components/schemas/eStatusDerAushilfe"
          },
          "msStatusDerAushilfeBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "msStatusMitarbeiter": {
            "$ref": "#/components/schemas/eStatusMitarbeiter"
          },
          "msStatusMitarbeiterBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsAkademischerGrad": {
            "type": "string",
            "nullable": true
          },
          "vmsAnschriftenzusatz": {
            "type": "string",
            "nullable": true
          },
          "vmsBetrieblichePersonalnummer": {
            "type": "string",
            "nullable": true
          },
          "vmsFamilienname": {
            "type": "string",
            "nullable": true
          },
          "vmsGeburtsdatum": {
            "type": "string",
            "format": "date-time"
          },
          "vmsGeburtslandIso3166Kz3stellig": {
            "type": "string",
            "nullable": true
          },
          "vmsGeburtslandLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "vmsGeburtslandLfdNrBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsGeburtsname": {
            "type": "string",
            "nullable": true
          },
          "vmsGeburtsort": {
            "type": "string",
            "nullable": true
          },
          "vmsGeschlecht": {
            "type": "integer",
            "format": "int32"
          },
          "vmsGeschlechtBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsHausnummer": {
            "type": "string",
            "nullable": true
          },
          "vmsMitarbeiternummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsNamenszusatzBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsNamenszusatzGeburtsnameBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsNamenszusatzNummer": {
            "type": "integer",
            "format": "int32"
          },
          "vmsNationNummerStaatsangehoerigkeitBezeichnung": {
            "type": "string",
            "nullable": true
          },
          "vmsNationNummerStaatsangehoerigkeitLfdNr": {
            "type": "integer",
            "format": "int32"
          },
          "vmsNationNummerStaatsangehoerigkeitNummer": {
            "type": "string",
            "nullable": true
          },
          "vmsNationNummerWohnort": {
            "type": "integer",
            "format": "int32"
          },
[...]
